.wrapper
  .banner
    .banner__info
      .banner__info-title ВІТАЛЬНИЙ БОНУС*
      .banner__info-bonus
        .banner__info-bonus-left #[span до] 15 000₴
        .banner__info-bonus-right 300 FS
      .banner__info-txt.
        * Під бонусом розуміється можливість отримати приз в рамках акції «Вітальний бонус». Період дії акції #[br] з 01.09.2024 по 31.12.2024 року. Бонус доступний тільки для нових клієнтів. Деталі на сайті favbet.ua.